<section class="comments-module">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-sm-6 col-12">
                <app-reviewblock></app-reviewblock>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <app-reviewblock></app-reviewblock>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <app-reviewblock></app-reviewblock>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <app-reviewblock></app-reviewblock>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <app-reviewblock></app-reviewblock>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <app-reviewblock></app-reviewblock>
            </div>
        </div>
    </div>
</section>