<section class="nocompromise-module">
    <div class="container">
        <div class="nocompromise-content">
            <h3>What we do Not compromise on:</h3>
            <div class="row items">
                <div class="col-lg-4 col-md-6 col-12 item-div">
                    <img src="./assets/images/comp1.PNG" alt="">
                    <h6 class="item-head">Quality</h6>
                    <p class="item-text">Error free content of coherence &
                        cohesion is foundational to writing</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item-div">
                    <img src="./assets/images/comp2.PNG" alt="">
                    <h6 class="item-head">Originality</h6>
                    <p class="item-text">Imparting thorough bred insights
                        and information is central to writing</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item-div">
                    <img src="./assets/images/comp3.PNG" alt="">
                    <h6 class="item-head">Plagiarism</h6>
                    <p class="item-text">Zero tolerance.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item-div">
                    <img src="./assets/images/comp4.PNG" alt="">
                    <h6 class="item-head">Word - limit</h6>
                    <p class="item-text">1500 words max. </p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item-div">
                    <img src="./assets/images/comp5.PNG" alt="">
                    <h6 class="item-head">Dual submission</h6>
                    <p class="item-text">We do not accept posts that have already
                        been submitted or published elsewhere.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 item-div">
                    <img src="./assets/images/comp6.PNG" alt="">
                    <h6 class="item-head">Authorship vs ownership</h6>
                    <p class="item-text">You retain the authorship of the write up.
                        We keep the copyright.</p>
                </div>
            </div>
        </div>
    </div>
</section>