<div class="row row-cols-1 row-cols-lg-3 g-4">
    <div class="col pt-2">
        <div class="card h-100">
            <div class="card-body">
                <i class="fa-solid fa-magnifying-glass-chart card-icon"></i>
                <h6 class="card-title">Real Time Analytics Using AWS Kinesis</h6>
                <p class="card-text">AWS Kinesis provides a fast and efficient way to
                    transform and analyse streaming data in real
                    time using Apache Flink. It also allows customers
                    to query and analyse data in real time and
                    continuously produce insights<span class="d-lg-none d-inline">...</span>
                    <span class=" d-lg-inline d-none"> and stateful
                        computations to trigger real time actions like
                        anomaly detection based on historical data
                        trends. Such live data can then be visualised in the
                        form of BI dashboards using Tableau or PowerBI.</span>
                </p>
                <p class="card-text d-lg-inline d-none">Experience spot-on visualisation for
                    dynamic data
                    input flow</p>
            </div>
            <div class="card-footer">
                <button class="demobtn">Redeem offer</button>
            </div>
        </div>
    </div>
    <div class="col pt-2">
        <div class="card h-100">
            <div class="card-body">
                <i class="fa-solid fa-cloud-arrow-down card-icon"></i>
                <h6 class="card-title">Cloud Readiness Assessment</h6>
                <p class="card-text">A cloud readiness assessment is a process where
                    an organisation looks at its resources and IT
                    environment and determines if it is capable of
                    migrating to the cloud. It is a best practice for any
                    organisation migrating all<span class="d-lg-none d-inline">...</span> <span
                        class=" d-lg-inline d-none"> of its IT infrastructure, or
                        even a single app, to the cloud to perform a cloud
                        readiness assessment in order to smoothen the
                        migration process and set up a cloud
                        environment that fits the organisation s
                        requirements.</span></p>
                <p class="card-text d-lg-inline d-none">Embrace the next big tech revolution and
                    validate
                    if your organisation is cloud-ready.</p>
            </div>
            <div class="card-footer">
                <button class="demobtn">Redeem offer</button>
            </div>
        </div>
    </div>
    <div class="col pt-2">
        <div class="card h-100">
            <div class="card-body">
                <i class="fa-solid fa-chart-line card-icon"></i>
                <h6 class="card-title">Predictive Analytics Models on BI platforms
                    Using AWS ML Stack</h6>
                <p class="card-text">The SageMaker ML platform is designed to support
                    the end to end ML model lifecycle, from model
                    data preparation to model deployment. Its
                    modular architecture makes it flexible as well. This
                    means customers can choose<span class="d-lg-none d-inline">...</span> <span
                        class=" d-lg-inline d-none"> to utilise
                        SageMaker independently for model building,
                        training, or deployment, enabling the creation of
                        predictive analytics models directly on Tableau or
                        Power BI dashboards.</span></p>
                <p class="card-text d-lg-inline d-none">Get a seasoned consultant to ingest data
                    and
                    create ML models based on KPIs provided.</p>
            </div>
            <div class="card-footer">
                <button class="demobtn">Redeem offer</button>
            </div>
        </div>
    </div>
</div>