    <!-- Header starts -->
    <header class="header-module">

        <nav class="navbar navbar-expand-lg bg-body-white">
            <div class="container topnavbar">
                <div class="topnavbarleft">
                    <ul
                        class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-start flex-nowrap flex-row align-items-center">
                        <li class="navitem">
                            <a class="navlink  ps-0 pe-3" href="#" title="linkedIn"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <li class="navitem">
                            <a class="navlink pe-3" href="#" title="facebook"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="navitem">
                            <a class="navlink pe-3" href="#" title="twitter"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="navitem">
                            <a class="navlink pe-3" href="#" title="instagram"><i
                                    class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li class="item-dot">
                            <select class="lang" id="language" name="language">
                                <option value="english">English</option>
                                <option value="arabic">Arabic</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#topnavbarright" aria-controls="topnavbarright" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <div class="collapse navbar-collapse" id="topnavbarright">
                    <ul class="navbar-nav ms-auto mb-0 pb-0 mb-lg-0 upper-ul">
                        <li class="nav-item item-dot">
                            <a class="rightnavlink" href="#" title="Tableau Free Trial">Tableau Free Trial</a>
                        </li>
                        <li class="nav-item item-dot">
                            <a class="rightnavlink" href="#" title="Alteryx Free Trial">Alteryx Free Trial</a>
                        </li>
                        <li class="nav-item item-dot">
                            <a class="rightnavlink" href="#" title="Auraa Free Trial ">Auraa Free Trial</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn-schedule py-1 px-3"><i class="fa-solid fa-phone"></i> Schedule a call</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="nav-divider">

        <nav class="navbar navbar-expand-lg bg-body-white">
            <div class="container bottomnavbar">
                <a class="navbar-brand" href="./index.html">
                    <img src="./assets/images/logo.png" alt="Bootstrap" width="150" height="29">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#bottomnavbarright" aria-controls="bottomnavbarright" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bottomnavbarright">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="bottomnavlink" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" title="Testimonials">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" routerLink="sales" routerLinkActive="active-link" title="Sales">Sales</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" routerLink="blog" routerLinkActive="active-link" title="Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" href="#" title="Company">Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" href="#" title="Events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" href="#" title="Careers">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" href="#" title="Blog">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" href="#" title="Training">Training</a>
                        </li>
                        <li class="nav-item">
                            <a class="bottomnavlink" href="#" title="Training">Contact us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- Header ends -->