<section class="banner-module">
    <div class="bg-shade"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 banner-content">
                <div>
                    <h2 class="banner-head">Beinex supports the launch of AWS
                        Middle East Region in the UAE region</h2>

                </div>
                <p class="banner-text">Beinex is proud to support Amazon Web Services (AWS) for the launch of AWS
                    Middle East
                    Region in the UAE. AWS is a global pioneer in cloud based offerings, with more than 200
                    services provided from data centers run globally. An AWS Advanced Consulting Partner
                    Beinex can transform how you run your business digitally by providing you with the true
                    edge in AWS cloud related implementations and solutions.</p>
                <p class="banner-text">And yes, feel free to avail of the incredible Region Launch special offers we
                    have for you!</p>
                <button class="btn demobtn">Request a demo</button>
                <button class="btn talkbtn"><i class="fa-regular fa-comment fa-flip-horizontal"></i> Talk to
                    us</button>

            </div>
            <div class="col-6"></div>
        </div>
    </div>
</section>