<section class="banner-module" style="background-image: url('./assets/images/bannerblog.jpg')">
    <div class="banner container">
        <div class="row">
            <div class="col col-lg-6 banner-content">
                <h3 class="thin-head">Attention Writers: Now You Can Write for Beinex!</h3>
                <h1 class="thick-head">'Payment. Credit. Exposure'</h1>
                <p class="banner-text">Yes, we have just gone article-hungry <br>

                    We need talented writers who can come up with high quality Articles and Blogs on
                    all our service domains and more. It shall be a freelance arrangement. Selected
                    articles would be paid for. <br>

                    Just check out the Services section of Beinex website. Do the topics thrill you into
                    writing? If yes, we may like to publish your writing.</p>
            </div>
        </div>
    </div>
</section>