@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.dnc-module {

    background-color: $color-dnc;

    .dnc-content {
        color: $color-btn;
        padding-bottom: 190px;

    }

    img {
        width: 100%;
        height: auto;
    }

    .lorem-p {
        font-size: $font-sm;
        letter-spacing: 2px;
        padding-right: $spacer-2;
        margin-bottom: 0;
    }

    hr {
        height: 1px;
        background-color: $color-primarynav;
        width: 268px;
        opacity: 1;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
        padding-bottom: $spacer-3;
    }

    .virtual {
        padding-top: $spacer-3;
        font-weight: 600;

        .col-6 {
            padding-bottom: $spacer-3;
        }

        i {
            font-size: $font-lg;
            padding-right: $spacer-1;
            transition: 0.5s;

            &:hover {
                color: $color-hover;

            }
        }
    }
}

@include tablet {
    .dnc-module {
        padding-bottom: 300px;
    }
}

@include mobile {
     .dnc-module {
        .dnc-content {
            display: block;
        }

        .dnc-text {
            width: 100%;
        }

        .dnc-img {
            width: 100%;
            height: 40vh;
        }
    }
}