<section class="dnc-module">
    <div class="container dnc-content">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="d-flex align-items-center">
                    <p class="lorem-p">LOREM IPSUM</p>
                    <hr>
                </div>
                <h3>What we do Not care about:</h3>
                <div class="row virtual">
                    <div class="col-6 ">
                        <i class="fa-solid fa-users-viewfinder"></i> Your background
                    </div>
                    <div class="col-6 ">
                        <i class="fa-solid fa-venus-mars"></i> Your gender 
                    </div>
                    <div class="col-6 ">
                        <i class="fa-solid fa-globe"></i> Your nationality
                    </div>
                    <div class="col-6 ">
                        <i class="fa-solid fa-graduation-cap"></i> Your qualification
                    </div>
                    <div class="col-6 ">
                        <i class="fa-solid fa-suitcase"></i> Your employment status
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img src="./assets/images/dnc.jpg" alt="">
            </div>
        </div>

    </div>
</section>