@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.casestudy-module {
    padding-top: 110px;
    position: relative;
    margin-top: -110px;
    z-index: 6;
    color: $color-white;
    background-image: url('../../../assets/images/casestudy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;

    .redshift-text {
        letter-spacing: 2px;
        font-weight: 300;
        margin-bottom: $spacer-0;
        font-size: $font-xsmnav;
    }

    .casestudy-head {
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 25px;
    }

    .casestudy-line {
        width: 280px;
        height: 1px;
        opacity: 1;
        background-color: $color-primary;
        margin-left: $spacer-2;
    }

    .casestudy-right {
        font-size: $font-xsmnav;
        font-weight: 300;
        line-height: 24px;
    }

    .information-div {
        padding: $spacer-4 $spacer-0;

        .carousel{
            position: relative;
            .carousel-indicators{
                position: absolute;
                bottom: -60px;
            }
        }

        .carousel-item {
            background-color: rgba(25, 68, 127, 0.8);
            padding: 70px $spacer-2 $spacer-3;
        }

        
    }

}

@include tablet{
    .casestudy-module{
        .casestudy-right{
            padding-top: $spacer-2;
        }
        .information-div{
            .border-col{
                border-left: none;
                border-top:  1px solid $color-white;;
            }
            .carousel-item{
                padding-top: $spacer-3;
            }
            .content{
                padding-bottom: $spacer-3;
            }
            .carousel-icon{
                padding-top: $spacer-3;
            }
        }
    }
}