<section class="casestudy-module">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="d-flex align-items-center justify-content-start casestudy-text">
                    <p class="redshift-text">AMAZON REDSHIFT CASE STUDY :</p>
                    <hr class="casestudy-line">
                </div>
                <h3 class="casestudy-head">Reduction of Operational Costs by 20%</h3>
            </div>
            <div class="col-lg-6 col-12">
                <p class="casestudy-right">In a significant win compared to the past, a next - generation pharmacy
                    organisation
                    successfully reduced operational costs by one - fifth.</p>
            </div>
        </div>

        <div class="information-div">

            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <app-casestudyblock></app-casestudyblock>
                    </div>
                    <div class="carousel-item">
                        <app-casestudyblock></app-casestudyblock>
                    </div>
                    <div class="carousel-item">
                        <app-casestudyblock></app-casestudyblock>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>