@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';


.notfound-module{
    text-align: center;
    padding:150px;
    color: $color-primary;
    .error-code{
        font-size: 70px;
        font-weight: 700;
        color: $color-hover;
        margin-bottom: $spacer-0;
    }
    .error-icon{
        color: $color-btn;
        &:hover{
            color: $color-hover;
        }
    }
    .error-type{
        font-size: 40px;
        font-weight: 600;
        padding-top: $spacer-0;
        padding-bottom: $spacer-4;
    }
    .error-message{
        padding: 0;
        margin: 0;
    }
}