<section class="notfound-module">
    <div class="container">
        <div class="heading">
            <h1 class="error-code"><i class="fa-solid fa-bug error-icon"></i> 404</h1>
            <h3 class="error-type">Page Not Found</h3>
        </div>
        <div class="text">
            <p class="error-message">The resource you are looking for might have been removed, had </p>
            <p class="error-message">its name changed, or is temporarily unavailable.</p>
        </div>
    </div>
</section>