<section class="offers-module">
    <div class="container">
        <div class="row">
            <p class="offer-text">SPECIAL OFFERS IN CONNECTION WITH LAUNCH</p>
            <div class="d-flex align-items-center justify-content-start discount-text">
                <h3 class="discount-head">10% Discount</h3>
                <hr class="discount-line">
            </div>
        </div>

        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <app-offerblock></app-offerblock>
                </div>

                <div class="carousel-item">
                   <app-offerblock></app-offerblock>
                </div>
            </div>
            <button class="carousel-control-prev car-indicatorleft" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <i class="fa-solid fa-angle-left"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next car-indicatorright" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <i class="fa-solid fa-angle-right"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>