    <div class="comdiv">
        <h3 class="review-head">Lorem ipsum dolor sit amet consectetur adipisicing elit</h3>
        <p class="review-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet libero rem
            cum accusamus esse
            temporibus. A quaerat doloremque aliquam voluptatum reprehenderit commodi quibusdam laudantium
            nemo, magni porro atque fugit hic. A quaerat doloremque aliquam voluptatum reprehenderit commodi.
        </p>

        <h4 class="review-name">John Doe</h4>
        <p class="des">Designation</p>
    </div>
    