<section class="contact-module">
    <div class="row g-0">
        <div class="col-12 col-lg-6 contact-text d-flex flex-column justify-content-between">
            <div class="conttext">
                <h3>Write for Beinex</h3>
                <p>Explore writing gig for Cloud, Analytics, Artificial Intelligence, Machine Learning,
                    and Automation. Submit your details below along with your write - up.</p>
            </div>
            <!-- <div class="row"> -->
                <div>
                    <img class="contactimg" src="./assets/images/contact.PNG" alt="">
                </div>
            <!-- </div> -->
        </div>
        <div class="col-12 col-lg-6 contact-form">
            <form action="">
                <div class="name">
                    <input type="text" placeholder="Name" id="name">
                </div>
                <div class="email">
                    <input type="text" placeholder="Email" id="email">
                </div>
                <div class="phone">
                    <input type="text" placeholder="Phone number" id="phone">
                </div>
                <div class="cv">
                    <input type="file" title="Your CV" id="cv" name="Your CV" accept=".pdf">
                    <label class="uploaded" for="cv" id="cvupload"></label>
                </div>

                <div class="textareadiv">
                    <textarea name="" id="message" cols="30" rows="3" placeholder="Crux of your article"></textarea>
                </div>
                <div class="article">
                    <input type="file" title="Article" id="article" accept=".pdf">
                    <label class="uploaded" for="cv" id="articleupload"></label>

                </div>
                <div class="textareadiv subbut">
                    <button type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>