<div class="address-module">
    <div class="container">
        <div class="row align-items-start">
            <div class="col offices uae">
                <h6 class="office-heading">Beinex - UAE</h6>
                <p class="office-content">506, BB01, Bay Square,</p>
                <p class="office-content"> Business Bay,</p>
                <p class="office-content"> P. O. Box 82940,</p>
                <p class="office-content"> Dubai, United Arab Emirates</p>
                <p class="office-content"> Phone: +971 4 243 9494</p>
                <p class="office-content"> Mobile: +971 52 695 0068</p>
                <p class="office-content"> Email: Info@beinex.com</p>
            </div>
            <div class="col offices qatar">
                <h6 class="office-heading">Beinex - Qatar</h6>
                <p class="office-content">Global Business Centre II,</p>
                <p class="office-content">Office No. R19, 2nd floor Al</p>
                <p class="office-content">Hitmi Village, Building No 40,</p>
                <p class="office-content"> Cornish Road, Doha, Qatar</p>
                <p class="office-content"> P.O Box 25422</p>
                <p class="office-content"> Office: +974 44023981</p>
                <p class="office-content"> Phone: +974 50682589</p>
                <p class="office-content"> Email: info@beinex.qa</p>
            </div>
            <div class="col offices uk">
                <h6 class="office-heading">Beinex - United Kingdom</h6>
                <p class="office-content">New Broad Street House</p>
                <p class="office-content"> 35 New Broad St</p>
                <p class="office-content"> London England EC2M 1NH</p>
                <p class="office-content"> Phone: +44 7539 393552</p>
                <p class="office-content"> Email: UK@beinex.com</p>
            </div>
            <div class="col offices india">
                <h6 class="office-heading">Beinex - India (Kochi)</h6>
                <p class="office-content">#19, Ground Level</p>
                <p class="office-content">Infopark TBC, JNI Stadium</p>
                <p class="office-content">Kaloor, Kochi</p>
                <p class="office-content">Kerala 682017, India</p>
                <p class="office-content">Office: +91 484 4855800</p>
                <p class="office-content">Mobile: +91 920 7204499</p>
                <p class="office-content">Mobile: +91 952 6451099</p>
                <p class="office-content">Email: Info@beinex.com</p>
            </div>
            <div class="col offices kenya">
                <h6 class="office-heading">Beinex - Kenya</h6>
                <p class="office-content">Beinex Consulting Ltd</p>
                <p class="office-content"> Purshottam Place, 7th floor,</p>
                <p class="office-content"> Westlands Rd, Museum Hill</p>
                <p class="office-content"> P. O. Box 66217 00800,</p>
                <p class="office-content"> Nairobi, Kenya.</p>
                <p class="office-content">Phone: +254 020 515 4016</p>
                <p class="office-content">Email: Info@beinex.com</p>
            </div>
        </div>

    </div>
    <div class="container newsletter">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-12 g-0 news-text">
                <h4 class="newsletter-head">Subscribe to our newsletter</h4>
                <p class="newsletter-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae ac
                    facilisis.</p>
            </div>
            <div class="col-md-6 col-12 g-0 news-input d-flex justify-content-start">
                <input class="newsletter-input" type="text" placeholder="your email address">
                <button class="newsletter-btn"><i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </div>

    </div>
</div>