<div class="row casestudy-block">
    <div class="col-lg-4 col-12  px-3 g-0">
        <i class="fa-solid fa-puzzle-piece carousel-icon"></i>
        <h5 class="heading">The Challenge </h5>
        <p class="content">To help itself with its growing data requirements and to
            honour its SLAs, the organisation was tasked to
            migrate from its data warehouse on premises to a
            high octane data hosting solution. </p>
    </div>
    <div class="col-lg-4 col-12  px-3 border-col g-0">
        <i class="fa-regular fa-lightbulb carousel-icon"></i>
        <h5 class="heading">Solution</h5>
        <p class="content">It decided to tap into the AWS suite to develop, train
            and deploy predictive maintenance models to foresee
            breakdowns of equipment parts. </p>
    </div>
    <div class="col-lg-4 col-12  px-3 border-col g-0">
        <i class="fa-solid fa-clipboard carousel-icon"></i>
        <h5 class="heading">Results</h5>
        <ul class="carousel-list">
            <li>
                <p class="content">
                    Within a short period, 1000 plus prediction models
                    were developed and trained when it came to a
                    collective of equipment like valves, pumps,
                    ventilation, air conditioning, and heating systems.
                </p>
            </li>
            <li>
                <p class="content">10,000 pieces of equipment connected and shall
                    benefit from predictive maintenance for the next 5
                    years.

                </p>
            </li>
            <li>
                <p class="content">
                    Savings of 800,000 Euros per year for the company
                </p>
            </li>
        </ul>
    </div>
</div>